@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 4px;
}

/* Text stroke */
.stroke-text {
  -webkit-text-stroke: 1.5px #818cf8;
}
